
   <mat-toolbar color="warn"> 
    <mat-toolbar-row>
            <span class="title-center">
        Mayones Guitars
    </span>
    <img src="https://cdn.shopify.com/s/files/1/0687/7043/files/m-shield-florish_grande.png?16713351768402263820" height="70px" lenght="70px" >
      </mat-toolbar-row>
      <mat-toolbar-row>
  <button mat-button [routerLink]="['/']">Home</button>
  <button mat-button [routerLink]="['/create']" color="Warn">Create Guitar</button>
  <button mat-button [routerLink]="['/read']">Read Guitar Specs</button>
</mat-toolbar-row>
 </mat-toolbar>

<router-outlet></router-outlet>